.btn {
  font-size: 18px;
  color: #9e9e9e;
  border-radius: 8px;
  border: 1px solid #1565c0;
  padding: 8px 10px;
  cursor: pointer;
  display: inline-flex;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
}
.btn:hover {
  background-color: #e9ecef;
  color: #212121;
}
.btn:active {
  background-color: #1565c0;
  color: #fff;
  border: none;
}
.btn.isSelected {
  background-color: #1976d2;
  color: #fff;
}
