.container {
  max-width: 390px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 80px;
  }
}
