.box {
  padding: 32px;
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #9e9e9e;
  box-shadow: 0px 4px 10px 4px #9e9e9e;
  width: 100%;
  position: relative;
}
.title {
  margin-bottom: 20px;
}
.text {
  text-align: left;
  padding-bottom: 16px;
  color: rgb(16, 16, 16);
}

.deleteButton {
  position: absolute;
  right: 0;
  padding: 20px;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  top: 0;
  color: red;
  border: none;
}
.deleteButton:hover,
.deleteButton:focus {
  transform: scale(1.05);
}
.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .box {
    width: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    width: 240px;
  }
}
