.box {
  padding: 32px;
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #9e9e9e;
  box-shadow: 0px 4px 10px 4px #9e9e9e;
  width: 100%;
  position: relative;
}
.title {
  margin-bottom: 20px;
}
.text {
  text-align: left;
  padding-bottom: 16px;
  color: rgb(16, 16, 16);
  cursor: text;
  margin-bottom: auto;
}

.deleteButton {
  position: absolute;
  right: 0;
  padding: 20px;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  top: 0;
  color: red;
  border: none;
}
.deleteButton:hover,
.deleteButton:focus {
  transform: scale(1.05);
}
.status {
  display: block;
  margin-bottom: 6px;
}

.selector {
  max-width: 180px;
}

.medium {
  color: #f97316;
  font-weight: 600;
}

.high {
  color: #dc2626;
  font-weight: 600;
}

.titleInput {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  border: none;
  border-radius: 0;
  color: #101010;
  border-bottom: 1px solid #0d6efd;
  background-color: transparent;
  box-shadow: none;
}

.titleInput:focus {
  outline: none;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .box {
    width: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    width: 240px;
  }
}
