.wrapper {
  background: linear-gradient(to bottom, #c9d6ff, #e2e2e2);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 390px;
  padding: 10px 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 10px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 10px 80px;
  }
}
