form {
  margin: 0 auto;
  position: relative;
  margin-bottom: 32px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.input {
  width: 300px;
  height: 56px;
  border-style: none;
  border-bottom: 1px solid #0d6efd;
  background-color: transparent;
  padding: 16px;
  padding-right: 40px;
  outline: none;
  transition: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  font-size: 18px;
  color: #212121;
  font-weight: 300;
  letter-spacing: 0.03em;

  &::placeholder {
    font-weight: 200;
  }
}

.button {
  font-size: 18px;
  color: #9e9e9e;
  border-radius: 8px;
  border: 1px solid #0d6efd;
  padding: 8px 10px;
}
.button:hover {
  background-color: #e9ecef;
  color: #212121;
}
