form {
  margin: 32px auto;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.input {
  width: 180px;
  height: 56px;
  border-style: none;
  border-bottom: 1px solid #0d6efd;
  background-color: transparent;
  padding: 16px;
  padding-right: 40px;
  outline: none;
  transition: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  font-size: 16px;
  color: #212121;
  font-weight: 300;
  letter-spacing: 0.03em;

  &::placeholder {
    font-weight: 200;
  }
}

@media screen and (min-width: 768px) {
  .input {
    width: 300px;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .buttonAdd {
    padding: 6px;
    font-size: 16px;
  }
}
